@font-face {
  font-family: "brsonoma-blackregular";
  src: url("/br-sonoma-webfont.woff2") format("woff2"),
    url("/br-sonoma-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin tablet() {
  @media screen and (max-width: 830px) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

$header: "brsonoma-blackregular";
