$header: "brsonoma-blackregular";
$white: #fff;
$gray-100: #f3f8fe;
$gray-200: #f6faff;
$gray-300: #dfe5ed;
$gray-400: #c5c5c5;
$gray-500: #adadad;
$gray-600: #9e9e9e;
$gray-700: #949494;
$gray-800: #6f6f6f;
$black: #0f0b2b;
$blue: #206bff;
$dark-blue: #1141a0;
$navy: #171f44;
$yellow: #fec846;
$red: #ff7262;

@font-face {
  font-family: "brsonoma-blackregular";
  src: url("/br-sonoma-webfont.woff2") format("woff2"),
    url("/br-sonoma-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin tablet() {
  @media screen and (max-width: 830px) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
