@import "variables";

.comment {
  position: relative;
  margin: 2rem;
  z-index: 0;

  .userInfo {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;

    .userPhotoSection {
      width: 3rem;
      height: 3rem;
      position: relative;
      transition: opacity 300ms ease;
      cursor: pointer;
      .userPhoto {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0;
        border-radius: 50%;
        transition: opacity 300ms ease;
      }
      &:hover::before {
        opacity: 0.3;
      }
    }

    .userName {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .commentTime {
      font-size: 0.8rem;
      font-weight: 400;
      color: $gray-500;
      cursor: pointer;
    }
  }

  .commentContent {
    margin: 0.5rem auto;
    margin-left: 3.6rem;
    word-break: break-word;
  }

  .commentActions {
    margin-left: 3.6rem;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

    button {
      color: $gray-500;
      transition: color 300ms ease;

      &:hover {
        color: $navy;
      }
    }
  }

  .commentLikeButton {
    position: absolute;
    top: 0;
    right: 0;
    color: $gray-500;
    font-size: 0.9rem;

    .fillHeart {
      color: $red;
    }
  }

  .deleteModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $gray-200;
    padding: 3rem;
    border-radius: 1rem;
    max-width: 30rem;
    width: 90%;
    z-index: 20;

    .deleteTitle {
      font-family: $header;
      font-size: 1.5rem;
      text-align: center;
      line-height: 1.2em;
    }
    .deleteButtons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 1.5rem;

      button {
        color: $white;
        background-color: $blue;
        padding: 0.8rem;
        border-radius: 2rem;
        width: 5rem;
        align-self: center;
        transition: background-color 300ms ease;
        cursor: pointer;

        &:hover {
          background-color: $dark-blue;
        }
      }
      .deleteButton {
        background-color: $gray-500;
      }
    }
  }
}
