@import "variables";

.dropdown {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  border: 1px solid white;
  box-shadow: 0 1px 12px rgb(0 0 0 / 5%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
  border-radius: 0.4em;
  min-width: 7rem;
  position: absolute;
  right: -0.8rem;
  top: 4rem;

  .dropdownButton {
    &:hover {
      color: $blue;
    }
  }

  .profileButton {
    color: $dark-blue;
    &:hover {
      color: $dark-blue;
    }
  }
}

@include mobile() {
  .dropdown {
    width: 8rem;
  }
}
