@import "variables";

.emailSentContent {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .emailSentTitle {
    font-family: $header;
    font-size: 2rem;
    text-align: center;
    line-height: 1.2em;
  }

  .emailSentText {
    font-weight: 400;
    color: #6f6f6f;
    text-align: center;
    font-size: 0.8rem;
  }

  .emailSentButton {
    color: white;
    background-color: #206bff;
    padding: 0.8rem;
    margin-top: 1rem;
    border-radius: 2rem;
    width: 15rem;
    align-self: center;
    transition: background-color 300ms ease;
    cursor: pointer;

    &:hover {
      background-color: #1141a0;
    }
  }
}
