@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f3f8fe;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #171f44;
  user-select: none;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  transition: color 300ms ease;
}

.swiper-button-prev {
  margin-left: 4rem;
}

.swiper-button-next {
  margin-right: 4rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #206bff !important;
}

@media screen and (max-width: 500px) {
  .swiper-button-prev {
    margin-left: 1rem;
  }

  .swiper-button-next {
    margin-right: 1rem;
  }
}
