@import "variables";

.ideaDetails {
  max-width: 67.5rem;
  width: 85%;
  margin: 0 auto;
  padding-top: 3rem;

  .backToDashboard {
    max-width: 36rem;
    width: 100%;
    margin: 3rem auto;
    margin-bottom: 1.5rem;

    .backToDashboardContent {
      display: inline-flex;
      align-items: center;
      gap: 0.2rem;
      font-family: $header;
      font-size: 1.2rem;
      cursor: pointer;
      transition: color 300ms ease;

      &:hover {
        color: #1141a0;
      }
    }
  }
}
