@import "variables";

.ideaOnDetails {
  max-width: 36rem;
  width: 100%;
  margin: 0rem auto;
  margin-bottom: 4rem;
  background: linear-gradient(
    45deg,
    rgba(252, 254, 255, 1) 0%,
    rgba(243, 248, 254, 0.5) 100%
  );
  border: 1px solid white;
  box-shadow: 0 1px 12px rgb(0 0 0 / 5%);
  border-radius: 0.8em;
  padding: 2rem;
  animation: fadeIn 300ms ease;
}

.ideaOnProfile {
  margin-bottom: 2rem;
  background: linear-gradient(
    45deg,
    rgba(252, 254, 255, 1) 0%,
    rgba(243, 248, 254, 0.5) 100%
  );
  border: 1px solid white;
  box-shadow: 0 1px 12px rgb(0 0 0 / 5%);
  border-radius: 1em;
  padding: 2rem;
  cursor: pointer;
  animation: fadeIn 300ms ease;
}

.idea {
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .userInfo {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    .userPhoto {
      border-radius: 50%;
      height: 3rem;
    }

    .postTime {
      font-size: 0.8rem;
      font-weight: 400;
      color: #adadad;
    }
  }

  .userIdea {
    .userIdeaText {
      word-break: break-word;
      margin-bottom: 1.5rem;
    }

    .userImages {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem;

      .userImage {
        box-shadow: 0 1px 12px rgb(0 0 0 / 8%);
        border-radius: 0.7em;
        object-fit: cover;
        justify-self: stretch;
        align-self: stretch;
        cursor: pointer;
      }

      .imageHover {
        transition: transform 300ms ease;

        &:hover {
          transform: translateY(-0.2rem);
        }
      }
    }
    .imagesSpace {
      margin: 1.5rem 0;
    }
    .doubleCol {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .ideaButtons {
    display: flex;
    justify-content: space-between;
    margin-top: -1rem;

    .firstButtons {
      display: flex;
      gap: 1rem;
      .ideaCommentButton,
      .ideaLikeButton {
        display: flex;
        align-items: center;
        gap: 0.35rem;
        color: #adadad;
      }

      .fillComment {
        color: #fec846;
      }

      .fillLike {
        color: #ff7262;
      }
    }

    .secondButtons {
      display: flex;
      gap: 1rem;

      .editButton,
      .deleteButton {
        color: #adadad;
        font-size: 1.05rem;
        transition: color 300ms ease;

        &:hover {
          color: #171f44;
        }
      }
    }
  }
}

.deleteModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6faff;
  padding: 3rem;
  border-radius: 1rem;
  max-width: 30rem;
  width: 90%;
  z-index: 20;

  .deleteTitle {
    font-family: $header;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.2em;
  }
  .deleteButtons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;

    button {
      color: white;
      background-color: #206bff;
      padding: 0.8rem;
      border-radius: 2rem;
      width: 5rem;
      align-self: center;
      transition: background-color 300ms ease;
      cursor: pointer;

      &:hover {
        background-color: #1141a0;
      }
    }

    .deleteButton {
      background-color: #adadad;
    }
  }
}
