@import "variables";

.postIdea {
  position: relative;
  justify-self: stretch;
  align-self: stretch;
  height: 0;
  padding-bottom: 100%;
  animation: fadeIn 300ms ease;

  .postIdeaPicture {
    object-fit: cover;
    aspect-ratio: 1;
    box-shadow: 0 1px 12px rgb(0 0 0 / 10%);
    border-radius: 0.5rem;
  }
  .postIdeaPictureHover {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .showPostIdeaPictureHover {
    opacity: 1;
  }
}
