@import "variables";

.profilePage {
  max-width: 67.5rem;
  width: 85%;
  margin: 0 auto;
  padding-top: 3rem;

  .profileContent {
    margin: 2.8rem auto;
    display: grid;
    grid-template-columns: 0.4fr 1fr;

    .userSection {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 3rem;

      .backToDashboard {
        width: 80%;
        margin-bottom: 0.8rem;
        margin-top: 0.6rem;

        .backToDashboardContent {
          display: inline-flex;
          align-items: center;
          gap: 0.2rem;
          font-family: $header;
          font-size: 1.1rem;
          cursor: pointer;
          transition: color 300ms ease;

          &:hover {
            color: $dark-blue;
          }
        }
      }

      .userInfo {
        position: sticky;
        top: 3rem;

        .userProfile {
          position: relative;
          width: 8rem;
          height: 8rem;
          object-fit: cover;
          border-radius: 10em;

          .userProfilePic {
            width: 8rem;
            height: 8rem;
            object-fit: cover;
            border-radius: 10em;
          }
          .userChangeProfile {
            color: $white;
            background-color: rgba(0, 0, 0, 0.5);
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            position: absolute;
            top: 0;
            opacity: 0;
            transition: opacity 200ms ease;

            .imageIcon {
              position: absolute;
            }
            .imageInput {
              opacity: 0;
              width: 8rem;
              height: 8rem;
              cursor: pointer;
            }
          }

          .userShowChangeProfile {
            opacity: 1;
            cursor: pointer;
          }
        }

        .changeForm {
          margin-top: 0.7rem;
          .changeName {
            width: 100%;
            font-family: $header;
            font-size: 1.5rem;
            background: transparent;
            &:focus {
              outline: none;
            }
          }

          .changeEmail {
            width: 100%;
            font-size: 0.9rem;
            color: $gray-700;
            background: transparent;
            margin-top: 0.2rem;
            border-bottom: 1px solid transparent;

            &:focus {
              outline: none;
              border-color: $navy;
            }
          }

          .changeButtons {
            margin-top: 1rem;
            margin-bottom: 0.7rem;
            display: flex;
            gap: 1rem;
            font-size: 0.9rem;
            animation: fadeIn 300ms ease;

            .doneButton {
              color: $white;
              background-color: $blue;
              padding: 0.5rem 1.3rem;
              width: 7rem;
              height: 2.5rem;
              border-radius: 2rem;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: background-color 300ms ease;

              &:hover {
                background-color: $navy;
              }

              .uploading {
                transform: scale(1.5);
              }
            }

            .cancelButton {
              color: $white;
              background-color: $gray-500;
              padding: 0.4rem 1.3rem;
              border-radius: 2rem;
              transition: background-color 300ms ease;

              &:hover {
                background-color: $navy;
              }
            }
          }
        }

        .userName {
          margin-top: 0.7rem;
          font-family: $header;
          font-size: 1.5rem;
        }

        .userSignIn {
          display: flex;
          align-items: center;
          gap: 0.3rem;
          font-size: 0.9rem;
          color: $gray-700;
          margin-top: 0.2rem;

          .brandIcon {
            font-size: 0.8rem;
          }
        }

        .userEmail {
          font-size: 0.9rem;
          color: $gray-700;
          margin-top: 0.2rem;
        }

        .userButtons {
          display: inline-flex;
          gap: 0.5rem;
        }

        .userEditButton,
        .userPasswordButton,
        .userDeleteButton {
          color: $gray-700;
          margin-top: 1rem;
          font-size: 1.1rem;
          transition: color 300ms ease;

          &:hover {
            color: $dark-blue;
          }
        }

        .buttonLeftSpace {
          margin-left: 0.5rem;
        }
      }

      .deleteModal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $gray-200;
        padding: 3rem;
        border-radius: 1rem;
        max-width: 30rem;
        width: 90%;
        z-index: 20;
        animation: fade 300ms ease;

        .deleteTitle {
          font-family: $header;
          font-size: 1.5rem;
          text-align: center;
          line-height: 1.2em;
        }
        .deleteButtons {
          display: flex;
          justify-content: center;
          gap: 1rem;
          margin-top: 1.5rem;

          button {
            color: $white;
            background-color: $blue;
            padding: 0.8rem;
            border-radius: 2rem;
            width: 5rem;
            align-self: center;
            transition: background-color 300ms ease;
            cursor: pointer;

            &:hover {
              background-color: $dark-blue;
            }
          }

          .deleteButton {
            background-color: $gray-500;
          }
        }
      }

      .changePasswordModal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $gray-200;
        padding: 3rem;
        border-radius: 1rem;
        max-width: 30rem;
        width: 90%;
        z-index: 20;
        animation: fade 300ms ease;

        .changePasswordTitle {
          font-family: $header;
          font-size: 1.5rem;
          text-align: center;
          line-height: 1.2em;
        }

        .changePasswordForm {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          margin: 2.5rem 1rem;
          margin-bottom: 0;
          .passwordInput {
            position: relative;

            input {
              width: 100%;
              background: linear-gradient(
                45deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0.5) 100%
              );
              padding: 1.5rem 1.2rem;
              padding-bottom: 0.4rem;
              border-radius: 0.5rem;
              border: 1px solid white;
              box-shadow: 0 1px 12px rgb(0 0 0 / 5%);
              font-weight: 400;

              &::placeholder {
                color: transparent;
              }

              &:focus {
                outline-color: $blue;
              }
            }

            input:focus + label,
            input:not(:placeholder-shown) + label {
              transform: translateY(-0.6rem) scale(0.8);
              color: $navy;
            }

            label {
              position: absolute;
              top: 1rem;
              left: 1.2rem;
              color: $gray-700;
              font-weight: 400;
              transform-origin: 0 0;
              transition: all 300ms ease;
            }

            .passwordShowIcon {
              position: absolute;
              right: 1rem;
              top: 1rem;
              font-size: 1.5rem;
              color: $gray-700;
              cursor: pointer;
              transition: color 300ms ease;

              &:hover {
                color: $dark-blue;
              }
            }
          }
          p {
            font-size: 0.8rem;
            margin-top: -0.8rem;
            color: $gray-600;
            font-weight: 400;
          }
          .passwordButtons {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: 1rem;

            button {
              color: $white;
              background-color: $blue;
              padding: 0.8rem;
              border-radius: 2rem;
              width: 7rem;
              height: 3rem;
              display: flex;
              justify-content: center;
              align-items: center;
              align-self: center;
              transition: background-color 300ms ease;
              cursor: pointer;

              &:hover {
                background-color: $dark-blue;
              }

              .uploading {
                transform: scale(1.4);
              }
            }

            .cancelButton {
              background-color: $gray-500;
            }
          }
        }
      }
    }

    .sectionLine {
      margin-bottom: 3.5rem;
      display: none;
    }

    .ideasSection {
      .ideasNavigator {
        display: flex;
        gap: 2rem;
        font-family: $header;
        font-size: 1.1rem;

        button {
          padding: 0.4em 1em;
          color: $gray-500;
          border-radius: 0.7rem;
          transition: all 300ms ease;

          &:hover {
            color: $navy;
            background-color: $gray-300;
          }
        }

        .activeNavigator {
          color: $navy;
          background-color: $gray-300;
        }
      }

      .ideasContent {
        margin: 1.7rem auto;

        .idea {
          transition: all 500ms ease;
          &:hover {
            background: linear-gradient(
              45deg,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0.5) 100%
            );
            border-radius: 0.8rem;
            transform: translateY(-5px);
          }
        }
        .lottie {
          width: 10rem;
          margin: 0 auto;
        }
      }
      .loadingIdea {
        width: 8rem;
        margin: 0 auto;
        margin-top: -3rem;
      }
    }
  }
}

@include tablet() {
  .profilePage {
    .profileContent {
      grid-template-columns: 1fr;
      .userSection {
        .userInfo {
          text-align: center;
          .userProfile {
            margin: 0 auto;
          }
          .changeForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            .changeName {
              width: 50%;
              text-align: center;
            }

            .changeEmail {
              width: 50%;
              text-align: center;
            }
          }

          .userSignIn {
            justify-content: center;
          }
        }
      }

      .sectionLine {
        display: block;
      }

      .ideasSection {
        .ideasNavigator {
          justify-content: center;
          flex-wrap: wrap;
          row-gap: 0.5rem;
          column-gap: 1rem;
        }
      }
    }
  }
}
